
h {
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
}

#header {
    background-color:white;
}

#wrapper {
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
}

ul {
    /* navigation-bar kommer f채stas i toppen om man bl채ddrar ner */
    list-style-type: none;
    overflow: hidden;
    background-color:white;
    padding-right: 50px;
    padding-top: 15px;
    border-bottom: 1px solid black;
    font-family: 'Open Sans', sans-serif;
}

li {
    float: right;

}

li a {
    display: block;
    color: black;
    padding: 15px 0px 0px 50px;
    text-decoration: none;
}

#frontIMG{
    width: 100%;
    opacity: 0.5;
}

p{
    text-align: center;
    font-size: 50px;
    color: black; 
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
}

#V채lkommen{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-top: 100px;
    color: white;
    margin-left: 550px;
    padding: 50px;
    background-color: grey;
}   

#v채lIMG{
    width: 20%;
}

header{
    background-color: grey;
    margin-top: 150px;
    width: 100%;

}