body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#rubrik{
    width: 35%;
    float: left;
    margin: 0 auto;
    padding: 0 auto;

}

p1 {
    font-size:15px;
}

p2 {
    font-size:14px;
    color:black;
    opacity: 0,7;
}

p3{
        font-size: 15px;
        color: #FFC200;
    }

p4{
    font-size: 12px;
    margin-top: 10px;
}

    p5{
        font-size: 12px;
        text-align: center;
    }


    


#wrapper {
    border-radius: 20px;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    background-color: #FED57B;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#user {
    border-radius: 20px;
    width: 20%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    /* navigation-bar kommer fästas i toppen om man bläddrar ner */
    list-style-type: none;
    background-color:white;
    padding-right: 5%;
    border-bottom: 1px solid black;
    height: 15%;
    font-size: 15px;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    text-decoration: none;
}



.radio {
width: 20px;
margin: 0 auto;
padding: 0 auto;
}

#submit {
width: 300px;
height: 40px;
margin-bottom: 30px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
width: 300px;
height: 40px;
border-radius: 5px;
margin: 0 auto;
padding: 0 auto;
}

form {
    margin-bottom: 100px;
}


p{
    text-align: center;
    font-size: 50px;
    color: black; 
    margin-top: 100px;
}

.container{
    text-align: center;
    position: relative;
}

.textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#frukt{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    opacity: 0.5;
}

#headergrön{
    text-align: right;
    font-size: 70px;
    color: white;
    background-color: #375162;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

#texthead{
    color: white;
    padding-top: 25px;
    font-size: 70px;
    font-weight: bold;
}

#textunderhead{
    margin-top: 10%;
}

#bottom{
    background-color: #375162;
    color: white;
    height: 50%;
    border-bottom: 1px solid;
}

#kontaktuppg{
    font-size: 35px;
    color: white;
    margin-top: 0px;
    margin-bottom: 5%;
}

#kontaktrubrik{
    font-size: 50px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
}

#phoneimg{
    width: 8%;
    padding-right: 70px;
}

#emailimg{
    width: 7%;
    padding-left: 65px;
    margin-bottom: 0.5%;
}

#welcome{
    text-align: center;
    margin-top: 5%;
}

#chattbutton{
   background-color: white;
   border-radius: 8px;
   border: 2px solid #4CAF50;
}

#chattbutton:hover{
background-color: #4CAF50; 
    color: white;
}

#chatbox{
    text-align:left;
    margin: auto;
    margin-bottom:10px;
    padding: 15px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #4CAF50;
    border-radius: 8px;
    overflow:auto; }

    h5{
    font-size: 16px;
    margin-bottom: 15px;
    }

   
    #userchatt{
    border-radius: 20px;
    width: 5%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    #usermsg {
    width: 450px;
    height:100px; 
    border:1px solid #FFC200;
    text-align: left;
    font-family: 'News Cycle', sans-serif; }
  
    #sendmessage{
    width: 450px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #FFC200;
    margin-top: 5px;
    }

    #sendmessage:hover {
    background-color: #FFC200;
    }

    #chatcontainer{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    height: 475px;
    background-color: #375162;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }

    #contact {
        margin-left: 50px;
    }

   .optionButtons .button {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: white; 
    border-radius: 8px;
    border: 2px solid #FFC200;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 35%;
    display: block;
    font-family: 'Open Sans', sans-serif; 
}

    .optionButtons .button:hover {
    background-color: #FFC200;
    color: white;
}

.column {
  float: right;
  width: 50%;
}

.leftmenu {
    width: 200px;
    text-align: left;
    padding-left: 20px;
    margin-top: 1%;
    }

.leftmenu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.leftmenu a:hover {
    background-color: #ccc;
}

.leftmenu a.active {
    background-color: #4CAF50;
    color: white;
}


