h {
    font-family: 'Open Sans', sans-serif;
    font-size:65px;
    margin-left: 10%;
}

#wrapper {
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
}

#headerIMG{
    margin-bottom: 0px;
}

ul {
    /* navigation-bar kommer fästas i toppen om man bläddrar ner */
    list-style-type: none;
    overflow: hidden;
    background-color:white;
    padding-right: 50px;
    border-bottom: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    padding: 15px 0px 0px 50px;
    margin-top: 40px;
    text-decoration: none;
}

p{
    text-align: center;
    font-size: 50px;
    color: black; 
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
}

.container{
    text-align: center;
    position: relative;
}

.textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: 'Open Sans', sans-serif;
}

#frukt{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    opacity: 0.5;
}

#Välkommen{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-top: 100px;
    color: white;
    margin-left: 550px;
    padding: 50px;
    background-color: grey;
}   