body{
    font-family: 'News Cycle', sans-serif;
    text-align: center;
}

h{
    font-size: 65px;
    margin-left: 10%;
}

p1 {
    font-size:15px;
}

p2 {
    font-size:14px;
    color:black;
    opacity: 0,7;
}

#wrapper {
    border-radius: 20px;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    background-color: #CAF46A;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#user {
    border-radius: 20px;
    width: 20%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#headerIMG{
    margin-bottom: 0px;
}

ul {
    /* navigation-bar kommer fästas i toppen om man bläddrar ner */
    list-style-type: none;
    overflow: hidden;
    background-color:white;
    padding-right: 50px;
    border-bottom: 1px solid black;
}

#submit {
width: 300px;
height: 50px;
font-size: 15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
width: 300px;
height: 30px;
border-radius: 5px;
margin: 0 auto;
padding: 0 auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    padding: 15px 0px 0px 50px;
    margin-top: 50px;
    text-decoration: none;
}

p{
    text-align: center;
    font-size: 50px;
    color: black; 
    margin-top: 100px;
}

.container{
    text-align: center;
    position: relative;
}

.textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#frukt{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20%;
    opacity: 0.5;
}

#headergrön{
    text-align: right;
    font-size: 70px;
    color: white;
    background-color: #97CBA9;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

#texthead{
    color: white;
    padding-top: 25px;
    font-size: 70px;
    font-weight: bold;
}

#textunderhead{
    margin-top: 10%;
}

#bottom{
    color: white;
    background-color: #A7D7C5;
}

#kontaktuppg{
    font-size: 60px;
    color: white;
    font-weight: bold;
    padding-top: 20px;
    height: 50%;
}

#welcome{
    text-align: center;
}

#chattbutton{
   background-color: white;
   border-radius: 8px;
   border: 2px solid #4CAF50;
}

#chattbutton:hover{
background-color: #4CAF50; 
    color: white;
}

#chatbox {
    text-align:left;
    margin: auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #4CAF50;
    border-radius: 8px;
    overflow:auto; }

    #usermsg {
    width:300px;
    border:1px solid #4CAF50; }
  

    #sendmessage{
    width: 60px;
    background-color: white;
    width: 25px;
    border-radius: 8px;
    border: 2px solid #4CAF50;
    }

    #chatcontainer{
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }

    #optionButtons {
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    width: 500px;
    margin-top: 40px;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }