body{
    font-family: 'Open Sans', sans-serif;
}

h {
    font-family: 'Open Sans', sans-serif;
    font-size:40px;
}

p1 {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}

p2 {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
}

#wrapper {
    border-radius: 20px;
    text-align: center;
    width: 600px;
    margin-top: 40px;
    background-color: #CAF46A;
    margin-left: auto;
    margin-right: auto;
}

ul {
    /* navigation-bar kommer fästas i toppen om man bläddrar ner */
    list-style-type: none;
    overflow: hidden;
    background-color:white;
    padding-right: 50px;
    border-bottom: 1px solid black;
    font-family: 'Open Sans', sans-serif;
}

#submit {
width: 300px;
height: 50px;
}

input {
width: 300px;
height: 30px;
border-radius: 5px;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    padding: 15px 0px 0px 50px;
    text-decoration: none;
}

p{
    text-align: center;
    font-size: 50px;
    color: black; 
    font-family: 'Open Sans', sans-serif;
    margin-top: 100px;
}

#Välkommen{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    margin-top: 100px;
    color: white;
    margin-left: 550px;
    padding: 50px;
    background-color: grey;
}   

#welcome{
    text-align: center;
}

#chattbutton{
    color: green;
}