body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #393E46;
    padding-top: 150px;
}

#Logga{
    font-size: 70px;
    color: #393E46;
    margin-top: 80px;
}

.box{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    border-top: 2px solid #FFC200; 
    border-bottom: 2px solid #FFC200;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#splash{
    width:340px;
    height:300px;
}

.PicText{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

p1 {
    font-size:15px;
}

#phoneIMG{
    margin-bottom: 5px;
}

p3{
    font-size: 15px;
    color: white;
    }

p4{
    font-size: 12px;
    float: right;
}

    p5{
        font-size: 12px;
        float: right;
    }

p6{
    font-size: 14px;
}

p7{
    font-size: 18px;
    font-weight: bold;
}

.row{
   padding-bottom: 40px;
}

a{
    color: #FFC200;
    text-decoration: none;
}

#länkOvanForum{
    font-size: 15px;
    color: white;
    margin-bottom: 30px;
}

#wrapper {
    border-radius: 20px;
    text-align: center;
    width: 1000px;
    height: 450px;
    background-color: #375162;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #FFC200;
}

#wrapper1 {
    border-radius: 20px;
    text-align: center;
    width: 1000px;
    margin-top: 40px;
    background-color: #375162;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #FFC200;
}

#user {
    border-radius: 55px;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header{
    background-color:white;
    padding-right: 5%;
    padding-bottom: 0.5%;
    border-bottom: 1px solid white;
    font-size: 15px;
    position: fixed;
    top: 0;
    height: 15%;
    box-shadow: 0px 5px 8px -2px grey;
    width: 100%;
}

ul{
list-style-type: none;
}


li {
    float: right;
}

li a {
    display: block;
    text-align: center;
    padding-right: 60px;
    margin-top: 60px;
    text-decoration: none;
    color: #393E46;
}

li a:hover{
    color: #FFC200;
}

li a.active{
    color: #FFC200;
    font-weight:bold;
}

.radio {
width: 20px;
}

.rowRadio {
    float:center;
}

.columnRadio {
    float:left;
    width: 75%;
    margin-right: 40%;
}

#submit {
width: 350px;
height: 50px;
margin-bottom: 40px;
margin-left: auto;
margin-right: auto;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
background-color: white; 
border-radius: 8px;
border: 2px solid #FFC200;
color:#393E46;
text-align: center;
text-decoration: none;
font-size: 16px;
cursor: pointer;
display: block;
font-family: 'Open Sans', sans-serif; 
}

#submit:hover {
    background-color:#FFC200;
    color:white;
}

#inputBox {
width: 350px;
height: 40px;
border-radius: 5px;
margin-bottom: 5px;
}

#passBox{
width: 350px;
height: 40px;
border-radius: 5px;
margin-bottom: 10px;
}

form {
    margin-bottom: 100px;
    color: #FFC200;
    font-size: 14px;
}


p{
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
}

.container{
    text-align: center;
    position: relative;
}

.textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

#headergrön{
    text-align: right;
    font-size: 70px;
    color: white;
    background-color: #375162;
    width: 100%;
    height: 35%;
    margin-top: 5%;
}

#texthead{
    color: white;
    padding-top: 25px;
    font-size: 70px;
    font-weight: bold;
}

#textunderhead{
    margin-top: 8%;
}

footer{
    background-color: #375162;
    color: white;
    left: 0;
    width: 100%;
    height: 50%;
    text-align: center;
}

#kontaktuppg{
    font-size: 20px;
    color: white;
    margin-top: 0px;
}

#kontaktrubrik{
    font-size: 40px;
    padding-top: 20px;
    color: white;
    font-weight: bold;
    margin-bottom: 0px;
    border-top: 3px solid #FFC200;
}

#phoneimg{
    width: 8%;
    padding-right: 70px;
}


#emailimg{
    width: 7%;
    padding-left: 65px;
    margin-bottom: 0.5%;
}

#welcome {
text-align: center;
margin-top: 2%;
}

#Tillbaka{
    float: left;
    margin-left: 3%;
    color: #393E46;
}

#Tillbaka:hover{
    color: #FFC200;
    text-decoration: underline;
}

#wrapper2{
    text-align: left;
    margin-left: auto;
    margin-right: 40%;
    float: right;
}

#wrapper3{
    text-align: left;
    margin-left: auto;
    margin-right: 20%;
    float: right;
}

#personligaUppg{
    text-align: left;
    margin-left: auto;
    margin-right: 53%;
    float: right;
}

#alltInnehållMP{
    padding-bottom: 100px;
}

#updateButton{
   background-color:#375162;
   border-radius: 8px;
   color: white;
   width: 250px;
   height: 50px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   padding: 15px;
}

#updateButton:hover{
    background-color: #FFC200;
}

h1{
    font-size: 40px;
}

#chattbutton{
   background-color: white;
   border-radius: 8px;
   border: 2px solid #FFC200;
   color: #393E46;
   font-weight: bold;
   width: 300px;
   height: 50px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
}

#chattbutton:hover{
background-color: #FFC200;
    color: white;
}

#chatbox{
    text-align:left;
    margin: auto;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 15px;
    padding-top: 20px;
    background:#fff;
    height:300px;
    width:600px;
    border:1px solid #FFC200;
    border-radius: 8px;
    overflow:auto; 
    }


    #sendbox{
    text-align:left;
    margin: auto;
    margin-bottom:10px;
    padding: 15px;
    padding-top: 20px;
    background:#fff;
    height:300px;
    width:600px;
    border:1px solid #FFC200;
    border-radius: 8px;
    overflow:auto; 
    }

    h5{
    font-size: 16px;
    margin-bottom: 15px;
    }

   
    #userchatt{
    border-radius: 20px;
    width: 5%;
    border-radius: 50px;
    margin-left: auto;
    margin-right: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

    #usermsg {
    width: 630px;
    height: 150px; 
    border: 1px solid #FFC200;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 14px; }
  
    #sendmessage{
    width: 630px;
    height: 60px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid #FFC200;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #393E46;
    font-size: 15px;
    }

    #sendmessage:hover {
    background-color: #FFC200;
    font-weight: bold;
    }

    #chatcontainer{
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 700px;
    margin-top: 30px;
    height: 620px;
    height: 1000px;
    background-color: #375162;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    }

    #closeForumKnapp{
    width: 630px;
    height: 60px;
    background-color: #FFC200;
    border-radius: 8px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #393E46;
    font-size: 15px;
    }

    #closeForumKnapp:hover {
    font-weight: bold;
    }

    #contact {
        margin-left: 50px;
    }

   .optionButtons .button{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: white; 
    border-radius: 8px;
    border: 2px solid #FFC200;
    color: #393E46;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 450px;
    height: 50px;
    display: block;
    font-family: 'Open Sans', sans-serif; 
}

.historyButtons .buttonA{
    display: inline-block;
    min-width: 1.8%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    background-color: white; 
    border-radius: 8px;
    border: 2px solid #FFC200;
    color: #393E46;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 50px;
    width: 100px;
    font-family: 'Open Sans', sans-serif; 
}

.historyButtons .buttonA:hover{
    background-color: #FFC200;
    color: white;
}

.optionButtons .button:hover {
background-color: #FFC200;
color: white;
}

.column {
  float: right;
  width: 50%;
}

.leftmenu {
    text-align: left;
    padding-left: 20px;
    padding: 0;
    width: 22%;
    margin-top: 2%;
    }

.leftmenu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.leftmenu a:hover {
    background-color: #ccc;
}

.leftmenu a.active {
    background-color: #FFC200;
    color: white;
}

.leftmenu a.veryactive {
    background-color: #ccc;
    color: white;
}

#pdfIcon{
    height:50px;
    width:50px;
}

#fileContainer{
    border-radius: 20px;
    padding: 20px;
    width: 90%;
    border: 2px solid #FFC200;
    float: center;
}

#infoIMG {
width:80%;
}

#trainingIMG {
width:80%;
margin-top: 5px;
}

#sleepIMG {
width:80%;
margin-top: 8px;
margin-bottom: 10%;
}

#stressIMG {
width:80%;
margin-bottom: 10%;
}

#coaches {
    background: #375162;
    float: left;
    margin-left: 40px;
    margin-right: 20px;
}

#backgroundIMG{
    background-color: #375162;
    width: 100%;
    height: 85%;
    border-top: 20px solid #375162;
}


h2 {
    font-size: 40px;
    color: white;
}

.pictxt{
    position: absolute;
    left: 61%;
    margin-top: -10%;
    transform: translate(-100%, -100%);
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
}

#såfunkardet {
    width: 40%;
    float: left;
}

h3 {
    color:#FFC200;
    font-size: 70px;
    font-weight: bold;
    margin: 0 auto;
    padding: 0 auto;
}

#LoggBokBox{
    float: right;
    margin-right: 22%;
    margin-top: 0.5%;
}

#rubrikLoggbok{
  font-size: 40px;
  font-weight: bold;
  margin-top: 3%;
  padding: 20px;
  width: 650px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  background-color: #375162;
  color: white;
  text-align: center;
}

#loggMessBox{
  padding: 20px;
  width: 650px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  background: whitesmoke;
  font-size: 18px;
  text-align: left;
}

#loggMessFält{
  margin-top: 1%;
  padding: 20px;
  width: 650px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color:whitesmoke;
  height: 200px;
}

#loggMessRuta{
    height: 100px;
    width: 650px;
    border-radius: 3px;
    border-style: ridge;
    margin-top: 10px;
    font-size: 17px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

#knappLoggMess{
  background-color: white;
   border-radius: 8px;
   border: 2px solid #FFC200;
   color: #393E46;
   font-weight: bold;
   width: 650px;
   height: 60px;
   font-family: 'Open Sans', sans-serif;
   font-size: 15px;
   margin-top: 10px;
}

#knappLoggMess:hover{
  background-color: #FFC200;
    color: #393E46;
}



